body{
    padding-top: 100px;
    padding-bottom: 100px;
}
nav a{
color: white;
}
label{
    font-weight: 800;
    color: blueviolet
}
.cog {
    float: right;
    margin-right: 50%;
}

/* website */
nav.navbar-dark a{
    color: white;
}

/* pages */
nav.navbar-light a {
    color: black

}
/* Widget*/
.icon-right {
    position: absolute;
    right: 15px;
    z-index: 1;
    background:red;
    border-radius: 5px 0 0; 
    padding: 10px;
    
}


























